{% extends 'base.html.twig' %}

{% block title %}i-market{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Add Product</h1>

</div>
    <div>
        {{ form_start(productForm) }}
        {{ form_row(productForm.name) }}
        {{ form_row(productForm.description) }}
        
        {#{{ form_row(productForm.categories) }}#}
        {{ form_row(productForm.save, {
            label: 'Save Product'
        })
        }}

        {{ form_end(productForm) }}
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
           {# <th scope="col">Categories</th>#}
            <th scope="col">action</th>

        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            {#<td>{{ product.categories }}</td>#}
            <td><a href="{{ path('remove_product',{'product':product.id}) }}" class="btn btn-danger">Delete</a></td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
